service: vaultwarden
image: aaaleid/vaultwarden

servers:
  web:
    - <%= ENV["SERVER_IP"] %>
registry:
  username: aaaleid
  password:
    - DOCKER_PA_TOKEN

proxy:
  ssl: true
  host: <%= ENV["DOMAIN_NAME"] %>
  app_port: 80
  healthcheck:
    path: "/"  # Change from "/health" to "/" since Vaultwarden responds at root
    interval: 120  # Add 's' for seconds

ssh:
  user: ec2-user

volumes:
  - "/vw-data:/data"

env:
  clear:
    DOMAIN: "https://<%= ENV["DOMAIN_NAME"] %>"
    SIGNUPS_ALLOWED: "false"
    ROCKET_PORT: 80
    INVITATIONS_ALLOWED: "false"
    SHOW_PASSWORD_HINT: "false"
  secret:
    - ADMIN_TOKEN

builder:
  arch: amd64
  cache:
    type: gha